<div class="container">

  <div class="starter-template">
    <h1>"You as a Stranger"</h1>
    <p class="lead">Discovering yourself as a stranger in 3 simple step.</p>
  </div>

    <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <h2><span class="glyphicon glyphicon-envelope"></span> </h2>
          <p>Email</p>
       </div>
        <div class="col-lg-4">
          <h2><span class="glyphicon glyphicon-camera"></span> </h2>
          <p>Photo </p>
       </div>
        <div class="col-lg-4">
          <h2><span class="glyphicon glyphicon-volume-up"></span> </h2>
          <p>Speak</p>
        </div>
    </div>
    
  <div class="starter-template">
    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#camera'">Start Now</button> 
  </div>       
</div><!-- /.container -->