
    
<h1 class="center" id="headline">

    <div id="info">
      <p id="info_start">Click on the microphone icon and begin speaking.</p>
      <p id="info_speak_now">Say something about this person.</p>
      <p id="info_no_speech">No speech was detected.</p>
      <p id="info_no_microphone" style="display:none">
        No microphone was found. </p>
      <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
      <p id="info_denied">Permission to use microphone was denied.</p>
      <p id="info_blocked">Permission to use microphone is blocked. To change,
        go to chrome://settings/contentExceptions#media-stream</p>
      <p id="info_upgrade">Web Speech API is not supported by this browser.
         Upgrade to <a href="//www.google.com/chrome">Chrome</a>
         version 25 or later.</p>
    </div>
</h1>

<div id="current-volume">
    {{currentPitch}}
</div>

<img src="img/{{strangerImgName}}" height="100%" width="100%">

<svg width="100%" height="100%" class="main-mic">
    <g id="circle"></g>
</svg>


<div id="mymodal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="mySmallModalLabel">Congratulations ! </h4>
        </div>
        <div class="modal-body">
          Your speech successfully sent to this person ! 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>
