html, body { 
    margin:0; 
    padding:0; 
    overflow:hidden 
}

svg { top:0; bottom:0; left:0; right:0 }


  * {
    font-family: Verdana, Arial, sans-serif;
  }
  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }

  .center {
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
  }
  .final {
    color: #f0f0f0 ;
    padding-right: 3px; 
    font-size: 25px;
  }
  .interim {
    color: #e2dfda;
    font-size: 25px;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #ededed ;
    text-shadow: 3px 0px 3px rgba(150, 150, 150, 1);
    visibility: hidden;
  }
  #results {
    z-index: 5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* min-height: 150px; */
    position: absolute;
    top: 17%;
    width: 100%;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }

#current-volume {
    right: 5px;
    top: 5px;
    position: fixed;
}

.main-mic {
    z-index: 0;
    position: absolute;
}

#circle {
    margin-left:auto; 
    margin-right: auto;
    display: block;
}

/*
#snap-btn {
    bottom: 20px;
  left : 50%;
    position: absolute;
}
*/

#camera-main {
    text-align: center;
}

#again-btn {
    bottom: 25px;
/*  left : 50%;*/
    position: absolute;
}

#save-btn {
    display: none;
}

#camera-menu {
    position: absolute;
    bottom: 30px;
    left : 49%;
    text-align: center;
}



.btn-toolbar {
    text-align: center;
}

#retake-btn {
    display: none;
}

#snap-btn {
    display: none;
}

#email-main {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

#please-allow-camera {
    position: absolute;
    top : 30px;
    left : 10%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

